
.main img{
    width: 100%; 
    filter: blur(2px);
}
.main {
    width: 80%;
    font-family: 'DM Sans', sans-serif;
}
.main h1{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 800px) {
    .main{
      width: 100%;
    }
  }
  