.btn{
   background: linear-gradient(to right, rgb(255, 79, 99) 0%, rgb(255, 181, 138) 100%);
    color: white;
    border-radius: 3px;
    border:none;
    padding: 10px;
    margin: 10px 10px 10px 0;
    align-items: right;
}
.form_control{
    color: white;
    background-color:  #03071e0e;
    height: 70px;
    border-radius: 3px;
    border: none;
    width: 100%;
}
